/* Most of this CSS won't be used at all. I like to salvage things from older projects. Why remake the wheel? */

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}


html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;

}
a{
    display: block;
    text-decoration: none;
}
.container{
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;  
}

header{
    position: fixed;
    top: 0;
    z-index: 1400;
    width: 100%;
    height: 4.4rem;
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(2rem);
    }

.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -1rem;
}

.nav-link{
    font-size: 1.4rem;
    color: white;
    padding: 0 1rem;
    transition: opacity .5s;
}

.nav-link:hover{
    opacity: .7;

}
.nav-link-apple{
    width: 1.0rem;
    height: 4.4rem;
    background: url("file:///C:/Users/Subho/Downloads/apple.svg") center no-repeat;

}
.nav-link-search{
    width: 1.0rem;
    height: 4.4rem;
    background: url("file:///C:/Users/Subho/Downloads/search.svg") center no-repeat;

}
.nav-link-bag{
    width: 1.4rem;
    height: 4.4rem;
    background: url("file:///C:/Users/Subho/Downloads/bag.svg") center no-repeat;

}

.hero{
    height: 69.2rem;
    background-position: center;
    background-size: auto 60rem;
    background-repeat:no-repeat;
    border-top: .6rem solid#fff;
    border-bottom: .6rem solid #fff;

}
.iphone-12{
    border-top: none;
}
.headline{
    color: rgb(35, 41, 41);
    text-align: center;
    padding-top: 5.5rem;
    font-size: 55px;
    -webkit-text-stroke-width: 50%;
    font-weight: 600;
}
.subheading-phone{
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}
.price{
    color: #888;
    font-weight:300;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    margin-top: 2rem;
}
.links{
    color: cornflowerblue;
    text-align: center;
    margin-top: 2rem;

}
.learn-link{
    color:#74aedd;
    display: inline-block;
    font-size: 2rem;
}
.learn-link:nth-child(2){
    margin-left: 2.6rem;
}
.iphone-12-pro{
    height: 69.2rem;
    background: url("file:///C:/Users/Subho/Documents/Iphone%2012%20pro.jpg");
    background-repeat: no-repeat;
    background-size: auto 60rem;
    
}
.hero{
    height: 69.2rem;
    background-position: center;
    background-size: auto 60rem;
    background-repeat:no-repeat;
    border-top: 0rem solid#fff;
    border-bottom: 0rem solid #fff;
}
.headline-pro{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: none;
    font-size: 55px;
    -webkit-text-stroke-width: 50%;
    font-weight: 550;
}
.subheading-pro{
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;

}
.iphone-12-pro{
    border-top: none;
}
.dark-hero{
    height: 69.2rem; 
    border-bottom: .6rem solid black; 
    
}
.headline-pro{
    padding-top: 5rem;
}
.module-content img{
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 60rem;
}
.learn-link:hover{
    border-bottom: 2px solid #74aedd;
}
.apple-watch{
    background: url("file:///C:/Users/Subho/Documents/Apple%20watch.PNG");
    height: 75rem;
    background-repeat: no-repeat;
    background-size: auto 60rem;
    
    
    

}
.subheading{
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal
}

.headline-watch{
    background: url("file:///C:/Users/Subho/Documents/Capture.PNG");
    background-repeat: no-repeat;
    height: 8rem;
    background-size: auto 8rem;
    background-position: center;
}
.ipad-air{
    background: url("file:///C:/Users/Subho/Documents/Ipad%20air.PNG");
    background-repeat: no-repeat;
    padding: none;
    display: block;
    margin-top: -150px;
    margin-bottom:-1000px;
   
}
.headline-air{
    color: black;
    text-align: center;
    font-size: 40px;
}
.I-dont-know{
    
        position: relative;
        display: inline-block; /* Make the width of box same as image */
    
}
.I-dont-know .confusion{
    position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 10%; 
}

.I-dont-know .somehowthisworkslinks{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 25%; 
    text-align:center;
    font-size: 20px;
}
.another-hero{
    margin-top: -5px;
    margin-bottom:-5px;
}
.apple-fitness{
    position:relative;
    right: -800px;
    bottom: -305px;
    
}

.insanity{
    background: url("file:///C:/Users/Subho/Documents/Fitness++.PNG");
    background-repeat: no-repeat;
    height: 6rem;
    background-size: auto 6rem;
    position: relative;
    top: -550px;
    right: -250px
    
}
.Desc{
    font-size: 20px;
    position: relative;
    top: -550px;
    right: -200px;
    font-weight:normal
}
.Desc2{
    font-size: 20px;
    position: relative;
    top: -550px;
    right: -250px;
    font-weight:normal
}

.onelogo{
    background: url("file:///C:/Users/Subho/Documents/ONELOGO.PNG");
    background-repeat: no-repeat;
    height: 6rem;
    background-size: auto 6rem;
    position: relative;
    top: -370px;
    right: -320px
    
}
.Deal{
    font-size: 20px;
    position: relative;
    top: -370px;
    right: -280px;
    font-weight:normal;
}
.Deal2{
    font-size: 20px;
    position: relative;
    top: -370px;
    right: -300px;
    font-weight:normal
}
.oneapple{
    position: relative;
    bottom: -170px;
    right: -50px;
}
.Valentine-sale{
    float: right;
    position: relative;
    top: -560px;
    right:-10px
}
.Valentine-logo{
    background-image: url("file:///C:/Users/Subho/Documents/GIFTS.PNG");
    background-repeat: no-repeat;
    height: 3rem;
    background-size: auto 3rem;
    position: relative;
    top: -580px;
    right: -250px;
    color: rgba(0,0,0,0)
}
.expensive{
    color: black;
    text-align: center;
    font-size: 40px;
}
.overpriced{
    position: relative;
    top: -570px;
    font-weight: 600;
}
.overpriced2{
    position: relative;
    top: -560px;
    font-weight: 400;
    text-align: center;
}
.apple-card{
    position:relative;
    bottom:-55px;
}
.NO{
    background-image: url("file:///C:/Users/Subho/Documents/383712832198379213872173821313124434421.PNG");
    background-repeat: no-repeat;
    height: 6rem;
    background-size: auto 6rem;
    position: relative;
    top: -550px;
    right: -270px;
    color: rgba(0,0,0,0)
}
.marketing{
    font-size: 20px;
    position: relative;
    top: -550px;
    left: -40px;
    font-weight:normal;
    text-align: center
}
.overpriced3{
    position: relative;
    top: -530px;
    text-align:center;
    left: -40px;
}
.palmer{
    float: right;
    position: relative;
    right: -700px;
    top:-700px
}
.prices{
    text-align: center;
    position: relative;
    top: -80px;
}